<div class="container">
  <div class="row">
    <div class="col-md-6" *ngFor="let us of  users ; let i = index" >
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Name: {{ us.name }}</h4>
          <h4 class="card-title">Mail: {{ us.email }}</h4>
          <h4 class="card-title">Phone: {{ us.phone }}</h4>
          <button (click)="See_more(i)" class="btn btn-primary">See more</button>
          <button (click)="DeleteUser(i)" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
