<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="#">Home</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/users">Login  <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" routerLink="/login">Users <span class="sr-only">(current)</span></a>
      </div>
    </div>
</nav>

<div class="mt-5">
    <router-outlet></router-outlet>
</div>


<footer id="footer">
    <p style="color:blanchedalmond;">Copyrignt Company Name © 2020 All rights reserved</p>
</footer>